name: smart_menu-local
services:
  db:
    image: postgres:17
    env_file:
      - ./.env.docker 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 2s
      timeout: 10s
      retries: 5
      start_period: 30s
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    volumes:
      - .:/code
      - huggingface_cache:/root/.cache/huggingface
    ports:
      - "8000:8000"
    env_file:
      - ./.env.docker
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      ollama:
        condition: service_started
    command: >
      sh -c "
      cd /code &&
      poetry run python manage.py migrate --noinput &&
      poetry run python manage.py runserver 0.0.0.0:8000
      "
  
  celery_worker:  
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    volumes:
      - .:/code
      - huggingface_cache:/root/.cache/huggingface
    env_file:
      - ./.env.docker
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      ollama:
        condition: service_started
    command: 
      sh -c "sleep 5 &&
      cd /code &&
      poetry run celery -A app worker --loglevel=info --concurrency=1"
  
  celery_beat:  
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    volumes:
      - .:/code
      - huggingface_cache:/root/.cache/huggingface
    env_file:
      - ./.env.docker
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: >
      sh -c "
      sleep 10 &&
      cd /code &&
      poetry run celery -A app beat --loglevel=info
      "
  
  ollama:
    image: ollama/ollama
    mem_limit: 6g
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped

volumes:
  postgres_data:
  ollama:
  huggingface_cache:
