
  <!-- Модальное окно удаления продукта -->

        <div class="modal bg-white rounded-xl p-6 mx-4 max-w-md w-full border-2 border-pastel-pink">
            <div class="text-center">
                <form
                    method="POST"
                    action="{% url 'product:delete' product.pk %}">
                    {% csrf_token %}

                    <i class="fas fa-exclamation-triangle text-5xl text-red-500 mb-4"></i>
                    <h3 class="text-2xl font-lilita text-coral-red mb-2">Удаление продукта</h3>
                    <p class="text-gray-600 mb-6">Вы уверены, что хотите удалить продукт "{{ product.name }}"? Это действие нельзя отменить.</p>
                    <div class="flex justify-center space-x-4">
                    <a href="{% url 'product:list' %}" class="btn bg-lemon-light text-amber-900 border border-lemon-border py-2 px-6 rounded-lg font-medium hover:bg-lemon">Отмена</a>
                       
                        <button type="submit" class="btn bg-gradient-to-r from-red-400 to-red-500 text-white py-2 px-6 rounded-lg font-medium" onclick="closeModal()">
                            Удалить
                        </button>
                    </div>
                </form>
            </div>

