@import "tailwindcss";
@config "../tailwind.config.js";


.button {
    @apply font-medium px-4 py-2 rounded-md;
}

.primary {
    @apply w-full bg-gradient-to-r from-pastel-pink to-amber-400 text-white py-3 px-6 rounded-lg font-semibold shadow-md;
}

.secondary {
    @apply  w-full bg-lemon-light text-amber-900 border-2 border-lemon-border py-3 px-6 rounded-lg font-semibold hover:bg-lemon;
}

.danger {
    @apply  w-full bg-gradient-to-r from-red-400 to-red-500 text-white py-3 px-6 rounded-lg font-semibold shadow-md;
}
