{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>SmartMenu</title>
</head>
<body class="bg-pastel-yellow font-oswald min-h-screen">
<header class="bg-gradient-to-r from-pastel-pink to-amber-300 text-white py-5 shadow-lg">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <span class="text-3xl">🍽</span>
                <h1 class="text-4xl font-bebas-neue text-coral-red">Smart Menu</h1>
            </div>
            <nav class="hidden md:block">
                <ul class="flex space-x-6">
                    <li><a href="#" class="hover:bg-pastel-pink/30 px-3 py-2 rounded transition">Главная</a></li>
                    <li><a href="#" class="hover:bg-pastel-pink/30 px-3 py-2 rounded transition">Меню</a></li>
                    <li><a href="#" class="hover:bg-pastel-pink/30 px-3 py-2 rounded transition">О нас</a></li>
                </ul>
            </nav>
            <button class="md:hidden text-2xl">☰</button>
        </div>
    </header>
  
    <main class="container mx-auto px-4 py-10">
        <div class="flex justify-center items-start ">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>Common footer for all templates</footer>

</body>
</html>